<a href="https://colab.research.google.com/github/wojtek840919/data-science-bootcamp/blob/main/01_Wprowadzenie/03_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
s= pd.Series(data=[3,2,4,6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [ ]:
s= pd.Series(data=[3,2,4,6], index=['a','b','c','d'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [ ]:
s= pd.Series(data=[3.,2,4,6], index=['a','b','c','d'], name='sample')
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [2]:
import numpy as np

In [ ]:
np.nan

In [ ]:
s= pd.Series(data=[3.,np.nan,4,6], index=['a','b','c','d'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [ ]:
s=pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [ ]:
s=pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [7]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1000, 'KGHM': np.nan})
price

Apple          200
CD Projekt      60
Amazon        1000
dtype: int64

In [8]:
price['CD Projekt']

60

In [9]:
price[1]

60

In [16]:
price.count()

3

In [25]:
price.value_counts(dropna=False)

200     1
60      1
1000    1
dtype: int64

In [13]:
price.sum()

1260

In [18]:
price.mean()

420.0

In [19]:
price.describe()

count       3.000000
mean      420.000000
std       507.148893
min        60.000000
25%       130.000000
50%       200.000000
75%       600.000000
max      1000.000000
dtype: float64

In [23]:
price.nlargest(2)

Amazon    1000
Apple      200
dtype: int64

In [26]:
price.nsmallest(2)

CD Projekt     60
Apple         200
dtype: int64

In [27]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
dtype: float64

In [30]:
price.sort_values(ascending=False)

Amazon        1000
Apple          200
CD Projekt      60
dtype: int64

In [33]:
price_pln = price.apply(lambda X: X*3.8)

In [34]:
price

Apple          200
CD Projekt      60
Amazon        1000
dtype: int64

In [35]:
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        3800.0
dtype: float64

In [37]:
df = pd.DataFrame(data=[12, 12, 32])
df

    0
0  12
1  12
2  32

In [5]:
df = pd.DataFrame(data=[12, 12, 32], index=['first','second','third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [6]:
df = pd.DataFrame(data={'WIG20': ['PKN Orlen', 'PKO BP'], 
                        'mWIG40': ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN Orlen    Amica
1     PKO BP  Playway

In [7]:
 df.columns

Index(['WIG20', 'mWIG40'], dtype='object')

In [8]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [9]:
df.values

array([['PKN Orlen', 'Amica'],
       ['PKO BP', 'Playway']], dtype=object)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   WIG20   2 non-null      object
 1   mWIG40  2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes

In [11]:
df.describe()

            WIG20 mWIG40
count           2      2
unique          2      2
top     PKN Orlen  Amica
freq            1      1

In [12]:
df.describe().T

       count unique        top freq
WIG20      2      2  PKN Orlen    1
mWIG40     2      2      Amica    1

In [13]:
df

       WIG20   mWIG40
0  PKN Orlen    Amica
1     PKO BP  Playway

In [15]:
df['WIG20']

0    PKN Orlen
1       PKO BP
Name: WIG20, dtype: object

In [16]:
type(df['WIG20'])

pandas.core.series.Series

In [17]:
df[['WIG20']]

       WIG20
0  PKN Orlen
1     PKO BP

In [18]:
type(df[['WIG20']])

pandas.core.frame.DataFrame

In [21]:
df.columns = ['a', 'b', 'c']
df

ValueError: ignored

In [22]:
df.loc['first']

KeyError: ignored